<h1>Visitor View</h1>

<a asp-controller="Visitor" asp-action="AddVisitor" type="button" class="btn btn-primary">Add Visitor</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Visitors</th>
            <th scope="col">Slave Name</th>
            <th scope="col">Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var visitor in Model)
        {
            <tr>
                <th scope="row">@visitor.ID</th>
                <td>@visitor.Name</td>
                <td>@visitor.Email</td>
                <td>
                    <form asp-controller="Booking" asp-action="BookAVisit" method="post">
                        <input type="hidden" name="animalID" value="@visitor.ID" />
                        <button type="submit" class="btn btn-warning">Book a visit!</button>
                    </form>
                </td>
                <td><a asp-controller="Animal" asp-action="UpdateAnimal" type="button" class="btn btn-success">Update Visitor</a></td>
                <td>
                    <form asp-controller="Animal" asp-action="DeleteAnimal" method="post">
                        <input type="hidden" name="animalID" value="@visitor.ID" />
                        <button type="submit" class="btn btn-danger">Delete Visitor</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@{

}