@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="d-flex align-items-center">
    <h1>Animal View</h1>
    <img src="@Url.Content("~/Images/Cow.jpg")" class="img-fluid" alt="Stor bild" style="width: 200px">
</div>



<a asp-controller="Animal" asp-action="AddAnimal" type="button" class="btn btn-primary">Add Animal</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Animal</th>
            <th scope="col">Animal Name</th>
            <th scope="col">Age</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var animal in Model)
    {
        <tr>
            <th scope="row">@animal.SpecieName</th>
            <td>@animal.Name</td>
            <td>@animal.Age</td>
            <td>@animal.Description</td>
                <td>
                    <form asp-controller="Animal" asp-action="UpdateAnimal" method="post">
                        <input type="hidden" name="animalID" value="@animal.ID" />
                        <button type="submit" class="btn btn-success">Update Animal</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Animal" asp-action="DeleteAnimal" method="post">
                        <input type="hidden" name="animalID" value="@animal.ID" />
                        <button type="submit" class="btn btn-danger">Delete Animal</button>
                    </form>
                </td>
        </tr>
    }
    </tbody>
</table>


@{

}
